body{
    background-color: blueviolet;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    border:solid black 1px;
    padding: 15px;
    align-content: center;
    position: relative;
    right: -34%;
    top: 146px;
    width: 360px;
    box-shadow: 10px 10px 5px lightblue;
}

.signUp{
    position: absolute;
    top: -131px;
    margin: 74px;
    font-size: xx-large;
    font-weight: bolder;
    color:lightblue

}
input{
    padding: 20px;
    margin-top: 10px;
    margin-right: 15px;
}

label {
    font-size: larger;
}
.submit{
    position: relative;
    right: -64px;
    border-radius: 9px;

}
.eror1{
display: none;
font-size: small;
    margin-block: 20px;
}
.eror2{
    display: none;
    font-size: small;
    margin-block: 20px;

}